<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.be.dc.services.seatAccommodation.db.mappers.SeatMapper">

	<resultMap type="Seat" id="SeatResult">
		<id property="id" column="seat_id" />
		<association property="type" column="type_id" resultMap="SeatTypeResult" />
	</resultMap>

	<resultMap type="SeatType" id="SeatTypeResult">
		<id property="id" column="type_id" />
		<result property="name" column="type_name" />
	</resultMap>

	<select id="selectAll" resultMap="SeatResult">
		SELECT seats.seat_id, types.type_name
		FROM seats, types WHERE seats.type_id = types.type_id
	</select>

	<select id="selectById" parameterType="int" resultMap="SeatResult">
		SELECT
		seats.seat_id, types.type_name FROM seats, types WHERE seats.type_id = types.type_id
		AND seats.seat_id = #{id}
	</select>

	<insert id="insert" parameterType="Seat" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO seats(type_id) VALUES (#{type.id})
	</insert>

	<update id="update" parameterType="Seat">
		UPDATE seats SET type_id = #{type.id} WHERE seat_id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM seats WHERE seat_id = #{id}
	</delete>
</mapper>