<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<properties>
		<property name="filename">log/ticketService.log</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1} - %m%n" />
		</Console>
		<File name="File" fileName="${filename}">
			<PatternLayout>
				<pattern>%d %p %c{1} %m%n</pattern>
			</PatternLayout>
		</File>
	</appenders>
	<loggers>
		<logger name="ua.be.dc.services" level="trace">
			<appender-ref ref="File"/>
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>
