<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.be.dc.services.seatAccommodation.db.mappers.EventSeatMapper">

	<resultMap type="EventSeat" id="EventSeatResult">
		<id property="id" column="event_seat_id" />
		<association property="event" javaType="Event">
			<id property="id" column="event_id" />
			<result property="name" column="event_name" />
		</association>
		<association property="seat" javaType="Seat">
			<id property="id" column="seat_id" />
			<association property="type" javaType="SeatType">
				<id property="id" column="type_id" />
				<result property="name" column="type_name" />
			</association>
		</association>
	</resultMap>

	<select id="selectAll" resultMap="EventSeatResult">
		SELECT * FROM events_seats es,
		events e, seats s, types t
		WHERE es.event_id = e.event_id AND
		es.seat_id = s.seat_id AND s.type_id = t.type_id
	</select>

	<select id="selectById" parameterType="int" resultMap="EventSeatResult">
		SELECT es.event_seat_id, e.event_id, e.event_name, s.seat_id, t.type_id, t.type_name
		FROM events_seats es, events e, seats s, types t
		WHERE es.event_id =
		e.event_id AND es.seat_id = s.seat_id AND s.type_id = t.type_id
		AND
		es.event_seat_id = #{id}
	</select>

	<select id="selectByEventId" parameterType="int" resultMap="EventSeatResult">
		SELECT es.event_seat_id, e.event_id, e.event_name, s.seat_id, t.type_id, t.type_name 
		FROM events_seats es, events e, seats s, types t
		WHERE es.event_id = e.event_id AND es.seat_id = s.seat_id AND s.type_id = t.type_id
		AND es.event_id = #{eventId}
	</select>

	<select id="selectByEventIdAndTypeId" parameterType="map"
		resultMap="EventSeatResult">
		SELECT es.event_seat_id, e.event_id, e.event_name, s.seat_id, t.type_id, t.type_name 
		FROM events_seats es, events e, seats s, types t
		WHERE t.type_id = #{typeId} AND es.event_id = #{eventId} AND
		es.event_id = e.event_id AND es.seat_id = s.seat_id AND s.type_id = t.type_id
	</select>

	<insert id="insert" parameterType="EventSeat" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO events_seats(event_id, seat_id) VALUES
		(#{event.id}, #{seat.id})
	</insert>

	<update id="update" parameterType="EventSeat">
		UPDATE events_seats SET
		event_id = #{event.id}, seat_id = #{seat.id} WHERE event_seat_id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM events_seats WHERE event_seat_id = #{id}
	</delete>
</mapper>