<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ua.be.dc.services.sellingService.db.mappers.PurchaseMapper">

	<resultMap type="Purchase" id="PurchaseResult">
		<id property="id" column="purchase_id"/>
		<result property="tickets" column="ticket_ids"/>
		<result property="eventOrganizerId" column="event_organizer_id"/>
		<result property="timestamp" column="timestamp"/>
	</resultMap>

	<select id="selectAll" resultMap="PurchaseResult">
		SELECT * FROM purchases
	</select>
	
	<select id="selectById" parameterType="int" resultMap="PurchaseResult">
		SELECT * FROM purchases WHERE purchase_id = #{id}
	</select>
	
	<insert id="insert" parameterType="Purchase" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO purchases(ticket_ids, event_organizer_id) VALUES (#{tickets}, #{eventOrganizerId})
	</insert>
	
	<update id="update" parameterType="Purchase">
		UPDATE purchases SET ticket_ids = #{tickets} WHERE purchase_id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM purchases WHERE purchase_id = #{id}
	</delete>
</mapper>