<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<properties>
		<property name="filename">log/seatAccommodation.log</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="ua.be.dc.services.seatAccommodation.db.dao.test"
			level="trace">
			<appender-ref ref="Console" />
		</logger>
		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>	

