<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Sold</th>
      <th>Available</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.price %></td>
        <td><%= ticket.sold %></td>
        <td><%= ticket.available %></td>
      </tr>
    <% end %>
  </tbody>
</table>
