<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ua.be.dc.services.ticketService.db.mappers.EventMapper">

	<resultMap type="Event" id="EventResult">
		<id property="id" column="event_id"/>
		<result property="name" column="event_name"/>
		<result property="location" column="event_location"/>
		<result property="date" column="event_date"/>
	</resultMap>

	<select id="selectAll" resultMap="EventResult">
		SELECT * FROM events
	</select>
	
	<select id="selectById" parameterType="int" resultMap="EventResult">
		SELECT * FROM events WHERE event_id = #{id}
	</select>
	
	<insert id="insert" parameterType="Event" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO events(event_name, event_location, event_date) VALUES (#{name}, #{location}, #{date})
	</insert>
	
	<update id="update" parameterType="Event">
		UPDATE events SET event_name = #{name}, event_location = #{location}, event_date = #{date} 
		WHERE event_id = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM events WHERE event_id = #{id}
	</delete>
</mapper>